<ion-view title="தேந்தமிழ்" id="page1">
  <ion-content padding="false" style="background: url(img/qcRW9cWPTEOrjHIA2EwQ_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/2S6vljRA5OwPyHjXpxwS_tenor.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page9()" id="page1-button7" style="font-weight:600;" class="button button-dark button-full">வாருங்கள் நண்பர்களே</a>
  </ion-content>
</ion-view>