<ion-view title="" hide-nav-bar="true" id="page9" style="background-color:#E1E9EE;">
  <ion-content padding="false" style="background: url(img/ic7tTfXYRqC2h7BnvniZ_cheezzpicment327.gif) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 320px; height: 52.8594px;"></div>
    <ion-list id="page9-list31">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="page9-list-item39" ui-sref="page7()">
        <img src="img/NdJo2G1aQqWI9vkaDux8_download.jpg">
        <h2assertive>வடிவங்கள்
          <i class="icon ion-social-android-outline"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 30.8672px;"></div>
    <ion-list id="page9-list32">
      <ion-item class="item-thumbnail-left item-icon-right calm" id="page9-list-item40" ui-sref="page10()">
        <img src="img/NyRvqrseTEaxn6N9DnyA_Colours-in-Website-Design.jpg">
        <h2calm>நிறங்கள்
          <i class="icon ion-paintbrush"></i>
        </h2calm>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 0.957031px;"></div>
    <div class="spacer" style="width: 320px; height: 23.9766px;"></div>
    <div>
      <img src="img/RnOFOFb6QxuPBVd2W7DA_giphy1.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>