<ion-view title="தேன் பருக உதவுவோம்!" id="page26">
  <ion-content padding="true" style="background: url(img/iDEKEu5nRv6ucnOK20qb_4073875_deacc.gif) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/L2TxaX9mSkO7Ad8DUoZZ_.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/IIyBw2E9TC57YkA9JlOI_giphy.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page27()" id="page26-button89" class="button button-royal button-block">கேள்விகளுக்குச் செல்வோம் வாருங்கள்!</a>
  </ion-content>
</ion-view>