<ion-view title="நிறங்கள்" id="page10">
  <ion-content padding="true" style="background: url(img/8yQFy8QWTU2yD7MBXb76_95308320-seamless-childish-pattern-vector-kids-background-with-hand-drawn-elements-design-for-prints-shirts-a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ldD59xFeQJewVquN1hyv_The_impact_of_colors_image_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5.95313px;"></div>
    <ion-list id="page10-list33">
      <ion-item class="item-avatar item-icon-right assertive" id="page10-list-item41" ui-sref="page12()">
        <img src="img/7q8YZEwQDurrq2fjDgk3_27602ff02f342d055532f43e4dbb1413.jpg">
        <h2assertive>விளக்கம்
          <i class="icon ion-ios-lightbulb"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 6.97656px;"></div>
    <ion-list id="page10-list34">
      <ion-item class="item-avatar item-icon-right balanced" id="page10-list-item43" ui-sref="page16()">
        <img src="img/1P0NB4r2TsyNtbp4OqYj_video-1364122_960_720-1.png">
        <h2balanced>காணொளி
          <i class="icon ion-ios-videocam"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 6.96875px;"></div>
    <ion-list id="page10-list37">
      <ion-item class="item-avatar item-icon-right royal" id="page10-list-item42" ui-sref="page14()">
        <img src="img/zAR3uhhbRjqpMJxoGyrH_kiKnjGnaT.png">
        <h2royal>பயிற்சி
          <i class="icon ion-ios-book"></i>
        </h2royal>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>