<ion-view title="பூ-விற்கு உதவுங்கள்" id="page27">
  <ion-content padding="true" style="background: url(img/iDEKEu5nRv6ucnOK20qb_4073875_deacc.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/oszJlZLdQ0WJJBYF5Qe7_r.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page27-button-bar11" class="button-bar">
      <a ui-sref="page29()" id="page27-button90" class="button button-assertive button-block">சதுரம்</a>
      <a ui-sref="page28()" id="page27-button91" class="button button-balanced button-block">வட்டம்</a>
    </div>
    <div>
      <img src="img/cjXmzSdkTMa07dDhCuWb_rec.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page27-button-bar12" class="button-bar">
      <a ui-sref="page29()" id="page27-button92" class="button button-assertive button-block">முக்கோணம்</a>
      <a ui-sref="page28()" id="page27-button93" class="button button-balanced button-block">செவ்வகம்</a>
    </div>
    <div>
      <img src="img/IrC0G9yXSde0tEuXpw4d_s.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page27-button-bar13" class="button-bar">
      <a ui-sref="page28()" id="page27-button94" class="button button-balanced button-block">சதுரம்</a>
      <a ui-sref="page29()" id="page27-button95" class="button button-assertive button-block">வட்டம்</a>
    </div>
    <div>
      <img src="img/jNndivKUTdMNl34pwxpd_st.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page27-button-bar14" class="button-bar">
      <a ui-sref="page29()" id="page27-button96" class="button button-assertive button-block">செவ்வகம்</a>
      <a ui-sref="page28()" id="page27-button97" class="button button-balanced button-block">நட்சத்திரம்</a>
    </div>
    <div>
      <img src="img/AX93c11RSDWGyexg7zJ6_tr.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page27-button-bar15" class="button-bar">
      <a ui-sref="page29()" id="page27-button98" class="button button-balanced button-block">சதுரம்</a>
      <a ui-sref="page28()" id="page27-button99" class="button button-assertive button-block">முக்கோணம்</a>
    </div>
  </ion-content>
</ion-view>