<ion-view title="பூ-விற்கு உதவுங்கள்" id="page20">
  <ion-content padding="true" style="background: url(img/iDEKEu5nRv6ucnOK20qb_4073875_deacc.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/iQOtMbIRyeVKysZ89tnQ_bl.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page20-button-bar9" class="button-bar">
      <a ui-sref="page23()" id="page20-button71" class="button button-assertive button-block">பச்சை</a>
      <a ui-sref="page22()" id="page20-button72" class="button button-balanced button-block">நீலம்</a>
    </div>
    <div>
      <img src="img/cXxW668QZecBvgtRwCgz_o.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page20-button-bar10" class="button-bar">
      <a ui-sref="page23()" id="page20-button73" class="button button-assertive button-block">பழுப்பு</a>
      <a ui-sref="page22()" id="page20-button74" class="button button-balanced button-block">ஆரஞ்சு</a>
    </div>
    <div>
      <img src="img/v39H2VYrTOyDmXzDD8Vl_gre.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page20-button-bar5" class="button-bar">
      <a ui-sref="page22()" id="page20-button63" class="button button-balanced button-block">சாம்பல்</a>
      <a ui-sref="page23()" id="page20-button62" class="button button-assertive button-block">கருப்பு</a>
    </div>
    <div>
      <img src="img/vIzv3U63RSqavDso2kTb_co.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page20-button-bar6" class="button-bar">
      <a ui-sref="page23()" id="page20-button65" class="button button-assertive button-block">சிவப்பு</a>
      <a ui-sref="page22()" id="page20-button66" class="button button-balanced button-block">பழுப்பு</a>
    </div>
    <div>
      <img src="img/3OIZ3xVcQLOmPIO83iFE_pu.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page20-button-bar7" class="button-bar">
      <a ui-sref="page23()" id="page20-button68" class="button button-balanced button-block">நீலம்</a>
      <a ui-sref="page22()" id="page20-button67" class="button button-assertive button-block">ஊதா</a>
    </div>
    <div>
      <img src="img/Qsz2HKpTNOBVoPkANBSM_y.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page20-button-bar8" class="button-bar">
      <a ui-sref="page23()" id="page20-button69" class="button button-assertive button-block">பச்சை</a>
      <a ui-sref="page22()" id="page20-button70" class="button button-balanced button-block">மஞ்சள்</a>
    </div>
  </ion-content>
</ion-view>