<ion-view title="பயிற்சி " id="page14">
  <ion-content padding="true" style="background: url(img/tlbU4L7HRjOTAlF9bNBj_500_F_229126021_lMMI7qWTiA6COELmMwvQD4R2rkfOxYVY.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <div style="margin-right:-20px;">
      <button id="page14-button11" style="left:-10px;font-weight:600;" class="button button-dark button-full">நிறங்கள்</button>
    </div>
    <div id="page14-button-bar4" class="button-bar">
      <a ui-sref="page24()" id="page14-button46" class="button button-assertive button-block">குழு முறை</a>
      <a ui-sref="page19()" id="page14-button47" class="button button-energized button-block">தனியாள்</a>
    </div>
    <div>
      <img src="img/6ZYkUkt1RzaH8zzxqRFA_giphy2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>