<ion-view title="பயிற்சி " id="page17">
  <ion-content padding="true" style="background: url(img/1JIdiikeRLKG7RcNUE4i_wholesale-custom-paints-colorful-hearts-for.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-right:-20px;">
      <button id="page17-button36" style="left:-10px;font-weight:600;" class="button button-dark button-full">வடிவங்கள்</button>
    </div>
    <div id="page17-button-bar2" class="button-bar">
      <a ui-sref="page25()" id="page17-button40" class="button button-assertive button-block">குழு முறை</a>
      <a ui-sref="page26()" id="page17-button41" class="button button-energized button-block">தனியாள்</a>
    </div>
    <div>
      <img src="img/2KAD0pi7SVWWhgYYFL97_CGKJ.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>