<ion-view title="" id="page21">
  <ion-content padding="true" style="background: url(img/pygOkbpMR0aRbRnMB8qz_floral-937586_960_720.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-right:-20px;">
      <button id="page21-button50" style="left:-10px;font-weight:600;" class="button button-dark button-full">வடிவங்கள்</button>
    </div>
    <div>
      <img src="img/XKssxS9FREeG8REftgq5_s381416275735836608_p3_i2_w512.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page21-button51" class="button button-balanced button-block">வட்டம்</button>
    <div>
      <img src="img/UbfcZLOSQPqdTtH0Mege_prism-base-triangle.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page21-button52" class="button button-energized button-block">முக்கோணம்</button>
    <div>
      <img src="img/teDDud2EQRarDPYS4aY9_CC0901_grande.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page21-button53" class="button button-dark button-block">சதுரம்</button>
    <div>
      <img src="img/BdhHTEINS1eEDdR33WMC_1325894.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page21-button54" class="button button-positive button-block">செவ்வகம்</button>
    <div>
      <img src="img/hfSddlsCTiCnhHpV4nSZ_mybpega.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page21-button55" class="button button-assertive button-block">நட்சத்திரம்</button>
    <div>
      <img src="img/bkVGNmRGRsqJh9mmIgPx_79-790730_oval-shape-circle.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page21-button56" class="button button-energized button-block">நீள்வட்டம்</button>
    <div>
      <img src="img/UAmvBedBTBG40jZ1iUUP_images.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page21-button57" class="button button-royal button-block">அறுகோணம்</button>
  </ion-content>
</ion-view>