<ion-view title="குழு நடவடிக்கைகள்" id="page25">
  <ion-content padding="true" style="background: url(img/UVnxWExTSS2ZHs2Exuoz_GJvi.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page25-button82" class="button button-royal button-block">நடவடிக்கை 1</button>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/g4mRAkTHGukIkBZ3GQpA_nh4sc2iOTUWiDdlQZY3w_.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page25-button83" class="button button-royal button-block">நடவடிக்கை 2</button>
    <div>
      <img src="img/dfrANJMDSny2J9OH5FxJ_kj.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page14()" id="page25-button84" class="button button-assertive button-block">ஒத்துழைப்பிற்கு நன்றி!</a>
  </ion-content>
</ion-view>