<ion-view title="வடிவங்கள்" id="page7">
  <ion-content padding="true" style="background: url(img/wFyWcbGwQKPvHPkmdSNw_95308320-seamless-childish-pattern-vector-kids-background-with-hand-drawn-elements-design-for-prints-shirts-a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8kOAx9ULTiGN72s58sOp_3d-motion-graphics-dynamic-geometric-shape-cubes-cones-spheres-and-other-abstract-background_rlxugbwmle_thumbnail-full11.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11.9648px;"></div>
    <ion-list id="page7-list17">
      <ion-item class="item-avatar item-icon-right assertive" id="page7-list-item26" ui-sref="page21()">
        <img src="img/7q8YZEwQDurrq2fjDgk3_27602ff02f342d055532f43e4dbb1413.jpg">
        <h2assertive>விளக்கம்
          <i class="icon ion-ios-lightbulb"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17.9922px;"></div>
    <ion-list id="page7-list19">
      <ion-item class="item-avatar item-icon-right balanced" id="page7-list-item28" ui-sref="page15()">
        <img src="img/1P0NB4r2TsyNtbp4OqYj_video-1364122_960_720-1.png">
        <h2balanced>காணொளி
          <i class="icon ion-ios-videocam"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20.9922px;"></div>
    <ion-list id="page7-list36">
      <ion-item class="item-avatar item-icon-right royal" id="page7-list-item27" ui-sref="page17()">
        <img src="img/zAR3uhhbRjqpMJxoGyrH_kiKnjGnaT.png">
        <h2royal>பயிற்சி
          <i class="icon ion-ios-book"></i>
        </h2royal>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>