<ion-view title="குழு நடவடிக்கைகள்" id="page24">
  <ion-content padding="true" style="background: url(img/UVnxWExTSS2ZHs2Exuoz_GJvi.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="page24-button79" class="button button-royal button-block">நடவடிக்கை 1</button>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/fTAvzg7LQEOaqqjkZpSA_wDRy3OZZQLWFbCkBF5Cq_.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page24-button80" class="button button-royal button-block">நடவடிக்கை 2</button>
    <div>
      <img src="img/NQTl1ZwvR5eTaAu3CH2J_rainbo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page14()" id="page24-button81" class="button button-assertive button-block">ஒத்துழைப்பிற்கு நன்றி!</a>
  </ion-content>
</ion-view>